<body>
<div style="margin-top: 15px">
	<a href="<%= @href %>">
		<img src="<%= @src %>" />
	</a>
</div>

<p style="margin-top: 40px">
  Hi <%= @fname %>,
</p>
<p>
	We are following up your recent enquiry.
</p>

<p>
	<a href="<%= @href %>">
		Take a look at our OFFER
	</a>
</p>

<p>
	Thanks
</p>
</body>