

	<div id="adl0" data-role="page" class="adladlfind">
			<div data-role="content" style="padding: 0px">
				GET ADLADL
			</div></div>
			
	<div id="adlmess" data-role="page" class="adunit">
			<div id="adltext" data-role="none" class="adladlmess">
				THIS IS MESSAGE 1
			</div></div>
			
	<div id="adlmess2" data-role="page" class="adunit">
			<div id="adltext2" data-role="none" class="adladlmess">
				THIS IS MESSAGE 2
			</div></div>
				
<%= javascript_tag(render :template => "layouts/adunit", :formats => [:js],
	:locals => {:baseurl => geturl, :prizemode => @prizemode, :devicetag => @devicetag}) %>