

<div id="page1" data-role="page">

	<div id="swiper1" data-role="content" style="padding: 0px">	
		<div id="adwrap1" data-role="none" class="adunit" style="background-color: #F66" >Page 1 Swipe Here</div>		
	</div>

</div><!-- /page -->



<div id="page2" data-role="page">

	<div id="swiper2" data-role="content" style="padding: 0px">	
		<div id="adwrap2" data-role="none" class="adunit" style="background-color: #6F6" >Page 2 Swipe Here</div>		
	</div>

</div><!-- /page -->