

	<div id="adl0" data-role="page" class="adladlfind">
			<div data-role="content" style="padding: 0px">
				THIS IS ADLADL MESSAGE
			</div></div>
				
<%= javascript_tag(render :template => "layouts/adunit", :formats => [:js],
	:locals => {:baseurl => geturl}) %>