<nav class="navbar navbar-fixed-top" role="navigation">
	
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" 				data-target="#adladl-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar" style="background-color: #111111"></span>
			<span class="icon-bar" style="background-color: #111111"></span>
			<span class="icon-bar" style="background-color: #111111"></span>
		</button>
		
		<a class="navbar-brand"	href="#" >
			<%= image_tag "adladl_logo_bld.png" %>
			<div class="tagline">Involving Mobile Ads</div>
		</a>
	</div>
	
	<div class="container">
		<div class="collapse navbar-collapse navbar-right" id="adladl-navbar-collapse-1">
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="#">home</a></li>
			  <li><%= link_to "contact", contact_path %></li>
			</ul>
		</div>
	</div>
</nav>

<div class="container-fluid" style="margin-top: 150px">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<p>Adladl is developing a mobile ad unit that makes coupon collection and management fast and easy. Clicking/Tapping  has been the standard means of interacting with an ad since the beginning of online era. Today, mobile platforms allow for many alternative and more expressive gestures. Supporting extra actions such as swipe allows for users to convey their intentions more completely and provides extra information for targetting.</p>
		<p>Adladl is working to expand the capabilites of mobile ads and capitalize on breaking the tap boundary. </p>
		</div>
	</div>
</div>