// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tagline{
	color: #000;
	word-spacing: 12px;
	font-weight: bold;
}


.adunitframe{
	height: 50px;
	width: 300px;
	border: none;
	padding: 0px;
}


/* This is for scaffold */

.scaffold_nav{
	margin: 20px 0px
}

.scaffold_nav a {
	margin-left: 30px;
	font-size: 150%;
}


.scaffold {
	margin-left: 20px;
}

div.field{
	margin-top: 20px;
}

table{
	margin: 30px 30px;
}


td{
padding: 5px 5px;
}
